.text {
    font-size: 50px;
    text-align: center;
}

#text-1{
    background-color: tomato;
    padding: 3em;
    color: white;
    text-shadow: 3px 3px 1px black;
}
#text-2{
    background-color: blueviolet;
    padding: 10px;

}
#text-3{
    background-color: brown;
    padding: 5%;
}
#text-4{
    background-color: bisque;
    padding: 2rem;
    border-radius: 2rem;
}
#text-3:hover{
    background-color: aqua;
}
#text-2:hover{
    color: white;
}
